<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-measure" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-measure</name>
    
    <js-module name="cordova-plugin-measure" src="www/cordova-plugin-measure.js">
        <clobbers target="cordova.plugins.measure"/>
    </js-module>

  <platform name="android" kotlin="1.3.31">
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.3.31" />

    <!-- Add Kotlin support -->
    <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
    <hook type="after_platform_add" src="hooks/support-kotlin.js" />

    <apply-plugin>kotlin-android-extensions</apply-plugin>
    <apply-plugin>kotlin-kapt</apply-plugin>

    <!-- Cleanup Kotlin source on uninstall -->
    <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
    <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />

    <config-file target="config.xml" parent="/*">
      <feature name="MeasurePlugin">
        <param name="android-package" value="com.gj.arcoredraw.MeasurePlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-feature android:name="android.hardware.camera" android:required="true" />
      <uses-feature android:name="android.hardware.camera.ar" android:required="true" />   
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.gj.arcoredraw.MeasurePluginActivity" android:label="Measure Activity" android:theme="@style/Theme.AppCompat.Light">
      </activity>
      <meta-data android:name="com.google.ar.core" android:value="optional" />  
      <meta-data android:name="com.google.ar.sceneform.ux" android:value="optional" />
    </config-file>

    <source-file src="src/android/MeasurePlugin.kt" target-dir="app/src/main/java/cordova/plugin"/>
    <source-file src="src/android/MeasurePluginActivity.kt" target-dir="app/src/main/java/cordova/plugin"/>
    <source-file src="src/android/AnchorInfoBean.kt" target-dir="app/src/main/java/cordova/plugin"/>
    <source-file src="src/android/FaceToCameraNode.kt" target-dir="app/src/main/java/cordova/plugin"/>

    <source-file src="src/android/activity_measureplugin.xml" target-dir="res/layout"/>
    <source-file src="src/android/renderable_text.xml" target-dir="res/layout"/>
    <source-file src="src/android/shape_rect_whtie_18.xml" target-dir="res/drawable"/>
    <source-file src="src/android/ar_last.png" target-dir="res/drawable"/>
    <source-file src="src/android/ar_post.png" target-dir="res/drawable"/>
  </platform>

    <platform name="ios">
        <preference name="CAMERA_USAGE_DESCRIPTION" default="Used by ARKit" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="MeasurePlugin">
                <param name="ios-package" value="HWPMeasurePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/ios/MeasurePlugin.swift"/>
        <source-file src="src/ios/MeasurePlugin+ViewControllerDelegate.swift"/>
        <source-file src="src/ios/ARSCNView.swift"/>
        <source-file src="src/ios/ViewController.swift"/>
        <source-file src="src/ios/Line.swift"/>
        <source-file src="src/ios/SCNVector3.swift"/>

        <!-- Resources -->
        <resource-file src="src/ios/Base.lproj/Main.storyboard" />
        <resource-file src="src/ios/Assets.xcassets" />

        <dependency id="cordova-plugin-add-swift-support" version="~2" />
    </platform>
</plugin>